@import url("https://fonts.google.com/specimen/Dela+Gothic+One/tester");

.logoContainer {
	display: flex;
	justify-content: start;
}

.logoDem {
	display: flex;
	justify-content: start;
	position: relative;
	width: auto;
	height: 200px;
	right: 10px;
	bottom: 4cm;
	padding: -1px;
	margin: 0px;
}

.greetings {
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	bottom: 70px;
	color: #28344c;
	font-family: "Dela Gothic One";
	font-style: italic;
	font-size: 50px;
}
.nameSpan {
	position: relative;
	left: 15px;
	color: #89db82;
	font-style: normal;
	text-decoration: underline;
}

.profilePic {
	width: auto;
	height: 350px;
	position: relative;
	transition: transform 0.3s, filter 0.3s;
	bottom: 1cm;
}

.profilePic:hover {
	transform: scale(1.1);
	filter: drop-shadow(0px 0px 20px #89db82);
}

.imgContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.desc {
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	bottom: 40px;
	color: #28344c;
	font-family: "Dela Gothic One";
	font-style: italic;
	font-size: 17px;
}

.descSpan {
	margin-right: 2px;
	margin-left: 4px;
	color: #89db82;
	font-style: normal;
	text-decoration: underline;
}

.buttonCont {
	display: flex;
	flex-direction: column;
	align-items: start;
	position: fixed;
	bottom: 7cm;
	z-index: 1000;
	opacity: 0.1;
	gap: 15px;
	transition: opacity 0.3s;
}

.buttonCont:hover {
	opacity: 100;
}

#github {
	transition: filter 0.3s, transform 0.3s;
}

#github:hover {
	filter: drop-shadow(0 0 20px #000000);
	transform: scale(1.2);
}

#gmail {
	transition: filter 0.3s, transform 0.3s;
}

#gmail:hover {
	filter: drop-shadow(0 0 20px #fbc84d);
	transform: scale(1.2);
}

#linkedin {
	transition: filter 0.3s, transform 0.3s;
}

#linkedin:hover {
	filter: drop-shadow(0 0 20px #0a88cf);
	transform: scale(1.2);
}

.downloadCV {
	padding: 20px;
	font-size: 20px;
	position: relative;
	margin-inline-end: 30px;
	font-family: "Dela Gothic One";
	border-radius: 10px;
	border: 0;
	left: 34cm;
	top: 9.8cm;
	color: #28344c;
	background-color: #89db82;
	transition: background-color 0.3s, filter 0.3s, color 0.3s, transform 0.3s;
	text-align: center;
	cursor: pointer;
}

.downloadCV:hover {
	background-color: #28344c;
	color: #89db82;
	filter: drop-shadow(0 0 20px #89db82);
	transform: scale(1.1);
}

.downloadcvAnchor {
	color: #28344c;
	text-decoration: none;
	transition: background-color 0.3s, filter 0.3s, color 0.3s;
}

.downloadcvAnchor:hover {
	color: #89db82;
}
